.link {
    fill: none;
    stroke: #666;
}

.node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.fixed .node {
    fill: #f00;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

circle {
    fill: red
}